@font-face {
  font-family: "Moder DOS 437";
  src: url("/alt/moder-dos-437.ttf");
}

* {
  color: #ffffff;
  font-family: "Moder DOS 437", sans-serif;
  font-size: 20px;
  text-decoration: none;
}

html,
body {
  background-color: #0000ad;
}

p {
  margin-bottom: 24px;
}

.container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  left: 0;
  top: 0;
}

@media screen and (max-width: 1000px) {
  .container {
    width: 100vw;
    padding-left: 8px;
    padding-right: 8px;
  }
}

.errorTextContainer {
  margin: auto;
  width: 800px;
}

.errorDetails {
  display: flex;
}

.errorNumber {
  margin-left: 12px;
  margin-right: 12px;
}

.errorSeparator {
  margin-right: 12px;
}

.technicalInformation {
  margin: 0px;
}
